<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>

  <form [formGroup]="formulario">
    <ion-item>
      <ion-input label="Number input" placeholder="Ingresa el número a convertir" clearInput="true" type="Number" formControlName="number"></ion-input>
    </ion-item>
    <ion-button (click)="onSubmit()" expand="block" fill="clear" shape="round" type="submit">
      Convertir
    </ion-button>
    
  </form>
</ion-content>
