<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="primary">
    <img alt="Silhouette of mountains" src="/assets/img/romanox.png" />
    <ion-card-header >
      <ion-card-title>Romano X</ion-card-title>
      <ion-card-subtitle>Vuelvete romano</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      En esta app podras convertir números a su representacion a romanos
    </ion-card-content>
  </ion-card>
</ion-content>
